body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%
}

.header-content {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.header-content .button, .footer-login-info .button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-width: 0px;
    box-shadow: 2px 2px 0 #000;
}

.header-content .button:hover, .footer-login-info .button {
    background-color: #777;
    font-size: 16px;
}

.header-content form{
    flex-direction: row;
    margin-top: 0px;
}

.header-content form button, .header-content form input{
    margin: 0px;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

main {
    padding: 20px;
    padding-top: 150px;
}

.thread, .pm-conversation{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.thread:hover, .pm-conversation:hover{
    box-shadow: 5px 5px 5px #555555;
}

.thread-title {
    margin-top: 0;
    margin-right: auto;
    width: 80%;
}

.thread-main-title {
    font-size: 20px;
    font-weight: bold;
}

.thread-sub-title {
    font-size: 14px;
}

.thread-title-last-msg {
    margin-top: 5px;
    font-size: 10px;
}

.thread-link:link, .thread-link:visited {
    color: #555555;
    text-decoration: none;
}

.thread-info {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.thread-info div {
    font-size: 12px;
    margin-left: 10px;
}

.thread-action > button{
    margin-left: 10px;
    display: block;
}

.icon-button {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.icon-button-settings {
    position: absolute;
    top: 20px;
    right: 20px;

}

.icon-button-tooltip {
    display: none;
    position: absolute;
    color: white;
    padding: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1;
    background-color: #555;
    box-shadow: 2px 2px 0 #000;
    border-radius: 5px;
}

.icon-button-settings:hover .icon-button-settings-tooltip {
    display: block;
}

.icon-button-settings-tooltip {
    right: 30px;
    top: 5px;  
}

.icon-button-thread:hover .icon-button-thread-tooltip {
    display: block;
}

.icon-button-thread-tooltip {
    transform: translateX(-80px);
}


.icon-button img {
    width: 24px; /* Beispielbreite, kann angepasst werden */
    height: 24px; /* Beispielhöhe, kann angepasst werden */
}

.deleteInfo {
    margin-bottom: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label,
form input,
form button {
    margin-bottom: 10px;
    font-size: 16px;
}

.messages {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.message {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
}

.message-info, .pm-info {
    min-width: 150px;
}

.message-info img {
    max-height: 60px;
    max-width: 60px;
}

.message-info-date, .pm-info-date {
    font-size: 12px;
    margin-bottom: 20px;
}

.message-info-name, .pm-info-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.message-info-userDeleted {
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
}

.message-content {
    padding: 10px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.message-content *:first-child{
    margin-top: 5px;
}

.message:last-child {
    border-bottom: none;
}

.new-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-message h2 {
    margin-top: 0;
}

.new-message form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.new-message form button, form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-message form button:hover, form button:hover {
    background-color: #0056b3;
}

.ql-size-large{
    font-size: larger
}

.ql-size-huge {
    font-size: xx-large;
}

.form-account {
    flex-direction: row;
}

.success-message {
    color: green;
}
.error-message {
    color: red;
}

.form-pic {
    width: 40%;
    display: grid;
    align-content: space-between;
    justify-items: center;
}

.form-data {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.form-pic-upload {
    display: grid;
    justify-content: start;
}

.form-pic-upload-info {
    padding: 0px;
    margin-top: 0;
    font-size: 12px;
}

.form-pic-frame > img {
    max-width: 300px;
    max-height: 300px;
}

.file-input-container {
    position: relative;
    display: inline-block;
    width: 200px;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.file-input-label:hover {
    background-color: #0056b3;
}

.file-name {
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}
select {
    width: 100%;
}
.admin-tables {
    margin-bottom: 20px;
}
.admin-tables th, .admin-tables td {
    text-align: left;
}
.permissions-table input[type="checkbox"] {
    margin-right: 10px;
}
.admin-tables button {
    margin-top: 10px;
}

/* Style for the dropdown */
.styled-select {
    position: relative;
    width: 150px;
}

.styled-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.3;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.styled-select select:focus {
    outline: none;
    border-color: #6ca6cd;
    box-shadow: 0 0 3px rgba(108, 166, 205, 0.5);
}

.styled-select select::-ms-expand {
    display: none;
}

.ellipsis {
    overflow: hidden;         
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-content {
    display: block;
    padding: 10px;
    width: 100%;
}

.search-content-title {
 margin-bottom: 10px;
}

.search-content a {
    text-decoration:none;
    color: #333;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    
}

.search-content a:hover {
    text-decoration:none;
    color: #ffffff;
    background-color: #007bff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    
}

.pm-info-date, .pm-info-name {
    font-size: 14px;
    font-weight: lighter;
}

.pm-content {
    width: 100%;
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.pm-form label {
    margin-top: 20px;
}

.pm-form {
    flex-direction: row;
}

.unread-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 5px;
    position: absolute;
    transform: translateY(-15px);
}